.Show {
  border-radius: 20%;
  padding: 1em;
  margin: 1em .2%;
  width: 300px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-size: .5em;
}

.Show >* {
  list-style-type: none;
  padding: 5px;
}
.Show >a >img {
  border-radius: 20%;
  padding: 1em;
}