.Show {
  margin: 1em;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.Show >* {
  list-style-type: none;
}
.Show >a >img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}